.flex-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employee-table {
  width: 700px;
}
.container {
  padding-top: 20px;
  display: grid;
  place-items: center;
}
